.nav_menu {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  transition: all 200ms linear;
}

.title_nav {
  background: var(--primary-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav_menu:hover {
  background-color: hsla(236, 9%, 39%, 0.3);
  border-radius: 6px;
}

.button_dark {
  color: whitesmoke;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px var(--primary-color);
  background: var(--primary-color);
  transition: all 200ms linear;
}

.button_dark:hover {
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 5px #8e2de2) invert(0%);
}

.bottom_menu {
  color: rgba(0, 0, 0, 0.54);
  transition: all 50ms ease-in;
}

.bottom_menu:hover {
  border-bottom: 3px solid hsla(236, 9%, 39%, 0.3);
}
