.tag_label {
  background-color: var(--secondary-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}

.buy_sell_mobile_menu {
  background-color: var(--secondary-color);
  border-top: 1px solid var(--onHover-color);
}

.buy_sell_mobile_menu_options {
  background-color: var(--onHover-color);
}

.order_book_dropdown {
  border: 1px solid var(--onHover-color);
  border-radius: 10px;
}

.dropdown_arrow {
  transition: all 300ms ease-out;
}

.order_book_content {
  transition: all 300ms ease-out;
}

.buy_button {
  height: 100%;
  border-radius: 8px;
  background-color: var(--yes-label-color);
}

.sell_button {
  height: 100%;
  border-radius: 8px;
  background-color: var(--no-label-color);
}

.popup_buy_button {
  color: black;
  transition: all 200ms linear;
}

.popup_sell_button {
  color: black;
  transition: all 200ms linear;
}

.button_active {
  background-color: black;
  color: whitesmoke;
}

.num_pad {
  transition: all 200ms ease-out;
}

.num_pad:active {
  background-color: var(--onHover-color);
}

.submit_button {
  background-color: var(--primary-color);
}

.sticky_buy_sell_tab {
  border: 1px solid var(--onHover-color);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 6px 12px rgba(0, 0, 0, 0.05);
}

.stickey_tab_header {
  border-bottom: 1px solid var(--onHover-color);
}

.price_share_counter {
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--onHover-color);
}
