@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #2f3c7e;
  --secondary-color: #f0f0f0;
  --onHover-color: hsla(236, 9%, 39%, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Teko", sans-serif;
}

/* ::-webkit-scrollbar {
  display: none;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
