.marketTiles {
  box-shadow: 0 2px 4px 0 hsla(236, 9%, 39%, 0.05);
  transition: all 300ms ease-out;
}

.marketTiles:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px 0 hsla(236, 9%, 39%, 0.3);
}

.yesToken {
  background-color: var(--yes-token-color);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.noToken {
  background-color: var(--no-token-color);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.yesTokenLabel {
  color: var(--yes-label-color);
}

.noTokenLabel {
  color: var(--no-label-color);
}

@media screen and (min-width: 768px) {
  .marketTiles {
    width: 32%;
  }
}

@media screen and (min-width: 1280px) {
  .marketTiles {
    width: 24%;
  }
}
