.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  backdrop-filter: blur(30px);
  border-bottom: 1px solid var(--onHover-color);
}

.bottom_bar {
  background-color: var(--secondary-color);
  border-top: 1px solid var(--onHover-color);
  z-index: 10;
}

.nav_menu {
  font-weight: 600;
  transition: all 200ms linear;
}

.title_nav {
  background: var(--primary-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav_menu:active {
  background-color: var(--onHover-color);
  border-radius: 6px;
  transform: scale(1.1);
}

.button_dark {
  color: whitesmoke;
  box-sizing: border-box;
  background: var(--primary-color);
  transition: all 200ms linear;
}

.button_dark:hover {
  transform: scale(1.1);
}

.bottom_menu_options {
  color: rgba(0, 0, 0, 0.54);
  transition: all 50ms ease-in;
}

.bottom_menu::-webkit-scrollbar {
  display: none;
}

.bottom_menu_options:hover {
  border-bottom: 3px solid var(--onHover-color);
}
